
# env
.env
.env.* 
!.env.example

# next
.next
out

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
node_modules/
.DS_Store

# local backups
*.bak
*.save

# wecom keys (NEVER commit)
wecom_private.pem
wecom_private_rsa.pem
wecom_public.pem
